@using Ventoura.Application.ViewModels.Countries;
@model ICollection<CountryItemVM>
@{
    int count = 0;
}
<style>
    .resized-image {
        max-width: 44px; /* Maksimum genişlik */
        max-height: 44px; /* Maksimum yükseklik */
    }

    .animate {
        animation: spin 1s infinite;
    }

    .keyframes spin {
        from

    {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

    }

    .action-icons {
        display: flex;
        gap: 11px; /* İkonlar arasındaki boşluk */
    }
</style>
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <a asp-action="Create" asp-area="VentouraAdmin" asp-controller="Country" class="d-flex align-items-center">
                        <h4 class="mb-0 me-2">Country Table</h4>
                        <img src="~/main/img/add-button.png" class="resized-image" alt="Contract Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid basic_table">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="border-bottom-primary">
                                    <th scope="col">No</th>
                                    <th scope="col">Country Name</th>
                                    <th scope="col">Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr class="border-bottom-secondary">
                                        <th scope="row">@count</th>
                                        <td>@item.Name</td>
                                        <td class="action-icons">
                                            <a asp-action="Update" asp-area="VentouraAdmin" asp-controller="Tour">
                                                <img src="~/main/img/system-update.png" class="resized-image" alt="Contract Image">
                                            </a>
                                            <a asp-action="Delete" asp-area="VentouraAdmin" asp-controller="Tour">
                                                <img src="~/main/img/recycle-bin.png" class="resized-image" alt="Contract Image">
                                            </a>
                                            <a asp-action="Details" asp-area="VentouraAdmin" asp-controller="Tour">
                                                <img src="~/main/img/search-analysis.png" class="resized-image" alt="Contract Image">
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const gifs = document.querySelectorAll('.resized-image');

        gifs.forEach(gif => {
            gif.addEventListener('mouseenter', () => {
                gif.classList.add('animate');
            });

            gif.addEventListener('mouseleave', () => {
                gif.classList.remove('animate');
            });
        });
    });
</script>