@using Ventoura.Application.ViewModels.Users;
@model LoginVM
@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Xmee | Login and Register Form Html Templates</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Identity/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Identity/css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/Identity/font/flaticon.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Identity/style.css">
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <section class="fxt-template-animation fxt-template-layout34" data-bg-image="img/elements/bg1.png">
        <div class="fxt-shape">
            <div class="fxt-transformX-L-50 fxt-transition-delay-1">
                <img src="~/Identity/img/elements/shape1.png" alt="Shape">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="fxt-column-wrap justify-content-between">
                        <div class="fxt-animated-img">
                            <div class="fxt-transformX-L-50 fxt-transition-delay-10">
                                <img src="~/Identity/img/figure/bg34-1.png" alt="Animated Image">
                            </div>
                        </div>
                        <div class="fxt-transformX-L-50 fxt-transition-delay-3">
                            <a href="login-34.html" class="fxt-logo"><img src="~/Identity/img/logo_sticky.png" alt="Logo"></a>
                        </div>
                        <div class="fxt-transformX-L-50 fxt-transition-delay-5">
                            <div class="fxt-middle-content">
                                <h1 class="fxt-main-title">Sign In to Rechage Direct</h1>
                                <div class="fxt-switcher-description1">If you don’t have an account You can<a asp-action="Register" asp-controller="AppUser" class="fxt-switcher-text ms-2 text-danger">Sign Up</a></div>
                            </div>
                        </div>
                        <div class="fxt-transformX-L-50 fxt-transition-delay-7">
                            <div class="fxt-qr-code">
                                <img src="~/Identity/img/elements/qr-login-34.png" alt="QR">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="fxt-column-wrap justify-content-center">
                        <div class="fxt-form">
                            <form method="post">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="form-group">
                                    <label asp-for="UsernameOrEmail">UserName or Email</label>
                                    <input asp-for="UsernameOrEmail" class="form-control" placeholder="Username or Email">
                                    <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input asp-for="Password" class="form-control" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IsRemembered">Remember Me</label>
                                    <input asp-for="IsRemembered"/>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="fxt-btn-fill">Sign In</button>
                                </div>
                            </form>
                        </div>
                        <div class="fxt-style-line">
                            <span>Or Continus with</span>
                        </div>
                        <ul class="fxt-socials">
                            <li class="fxt-google">
                                <a asp-action="LoginWithGoogle" asp-controller="AppUser" title="google"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jquery-->
    <script src="~/Identity/js/jquery-3.5.0.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Identity/js/bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="~/Identity/js/imagesloaded.pkgd.min.js"></script>
    <!-- Validator js -->
    <script src="~/Identity/js/validator.min.js"></script>
    <!-- Custom Js -->
    <script src="~/Identity/js/main.js"></script>

</body>

</html>